
<ul class="thumbnails">
{% for skin in skins %}
<li class="span4">
  <div class="thumbnail">
    <img src="{{ skin.thumbSrc }}" alt="">
    <div class="caption">
      <h3>{{ skin.title }}</h3>
      <p>
      <a href="{{ skin.downloadUrl }}" class="btn"><i class="icon-download-alt icon-white"></i>Download</a> 
      <a href="{{ skin.marketUrl }}" class="btn btn-success"><i class="icon-play icon-white"></i>Play Store</a>
      </p><p>
      <a href="{{ skin.marketUrl }}" class="btn btn-info"><i class="icon-globe icon-white"></i>Website</a>
      <a href="{{ skin.marketUrl }}" class="btn btn-primary"><i class="icon-gift icon-white"></i>Donate</a>
      </p>
    </div>
  </div>
</li>
{% endfor %}
</ul>